@{
    ViewBag.Title = "Links";
}
@{
    ViewBag.Title = "About";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Twitter Bootstrap</title>
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/js/jquery-1.10.2.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="container">
        <img class="media-object img-responsive" src="/pics/banner3.jpg" />
        <br />
        <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->


  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Forside</a></li>
      <li><a href="#">Rapporter</a></li>
      <li><a href="#">Artikler</a></li>
      <li><a href="#">Konkurrencen</a></li>
      <li><a href="#">Hvem er vi</a></li>
      <li><a href="#">Klubrekorder</a></li>
      <li><a href="#">Vandpleje</a></li>
      <li>@Html.ActionLink("About", "About", "Home")</li>
      <li><a href="#">Bliv medlem</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
        <div class="container">
            <div class="row ">
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div>
                        <form class="form-signin" role="form">
                        <h4 class="form-signin-heading">
                            Log ind</h2>
                            <input type="text" class="form-control" placeholder="Email address" required autofocus>
                            <input type="password" class="form-control" placeholder="Password" required>
                            <label class="checkbox">
                                <input type="checkbox" value="remember-me">
                                Husk mig
                            </label>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">
                                Sign in</button>
                        </form>
                    </div>
                    <br />
                    <img src="/pics/ban1.jpg" class="img-responsive" data-src="holder.js/300x200" alt="...">
                    <br />
                    <br />
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10">
                    <h1>
                        Links</h1>
                    <hr>
                    <h2>
                        Fiskeblade</h2>
                    <div class="bmenu">
                        <a href="http://www.catchmagazine.net/"><b>&nbsp;Catch magazine</b></a>&nbsp;;&nbsp;Online
                        fluefiskeblad med fantastiske billeder
                        <br />
                        <a href="www.fiskogfri.com"><b>&nbsp;Fisk&Fri</b></a>&nbsp;;&nbsp;
                        <br />
                    </div>
                    <br />
                    <h2>
                        Fiskeforeninger</h2>
                    <div class="bmenu">
                        <a href="www.lilleaaen.dk"><b>&nbsp;Hadsten lystfiskeriforening</b></a>&nbsp;;&nbsp;Fiskevand
                        i Lilleåen
                        <br />
                        <a href="http://www.aarhuslystfiskerforening.dk/fiskevand.htm"><b>&nbsp;Århus lystfiskerforening</b></a>&nbsp;;&nbsp;Fiskevand
                        i Lilleåen, Omme å, Allign å, Skjern å osv.
                        <br />
                    </div>
                    <br />
                    <h2>
                        Generelt fiskeri</h2>
                    <div class="bmenu">
                        <a href="www.fiskepleje.dk"><b>&nbsp;Fiskepleje</b></a>&nbsp;;&nbsp;Stor samling
                        af viden om fisk og fiskepleje fra DTU Aqua.
                        <br />
                        <a href="http://www.toppredator.dk/"><b>&nbsp;Toppredator</b></a>&nbsp;;&nbsp;Side
                        om fiskeri efter rovfisk, incl. webshop
                        <br />
                        <a href="http://www.123nu.dk"><b>&nbsp;www.123nu.dk</b></a>&nbsp;;&nbsp;Lystfiskerforum
                        samt køb/salg, auktion og artikler.
                        <br />
                        <a href="http://www.brakvand.dk"><b>&nbsp;www.brakvand.dk</b></a>&nbsp;;&nbsp;Henrik
                        Leth's side om fluefiskeri.
                        <br />
                        <a href="http://www.bursell.dk"><b>&nbsp;www.bursell.dk</b></a>&nbsp;;&nbsp;Jens
                        Bursells hjemmeside med artikler og billeder.
                        <br />
                        <a href="http://www.dagkort.dk"><b>&nbsp;www.dagkort.dk</b></a>&nbsp;;&nbsp;Køb
                        af fiskekort over nettet til mange vande i DK.
                        <br />
                        <a href="http://www.efomf.dk/Havnen.aspx"><b>&nbsp;www.efomf.dk/Havnen.aspx</b></a>&nbsp;;&nbsp;Øer
                        Maritime ferieby, bådrampe.
                        <br />
                        <a href="http://www.fangster.dk"><b>&nbsp;www.fangster.dk</b></a>&nbsp;;&nbsp;Fangstrapporter
                        for alle typer fiskeri.
                        <br />
                        <a href="http://www.fluepapiret.dk"><b>&nbsp;www.fluepapiret.dk</b></a>&nbsp;;&nbsp;Fluebinding
                        og fluemønstre.
                        <br />
                        <a href="http://www.globalflyfisher.com"><b>&nbsp;www.globalflyfisher.com</b></a>&nbsp;;&nbsp;International
                        side med fluebinding osv.
                        <br />
                        <a href="http://www.justonemorecast.dk"><b>&nbsp;www.justonemorecast.dk</b></a>&nbsp;;&nbsp;Jakob
                        og Daniels hjemmeside med fangstrapporter osv.
                        <br />
                        <a href="http://www.skovognatur.dk/DyrOgPlanter/Fisk/Min_fred.htm"><b>&nbsp;www.skovognatur.dk/DyrOgPlanter/Fisk/Min_fred.htm</b></a>&nbsp;;&nbsp;Mindstemål
                        og fredningstider.
                        <br />
                        <a href="http://www.slaebesteder.dk"><b>&nbsp;www.slaebesteder.dk</b></a>&nbsp;;&nbsp;Slæbesteder
                        til båd.
                        <br />
                        <a href="http://www.sportsfiskeren.dk"><b>&nbsp;www.sportsfiskeren.dk</b></a>&nbsp;;&nbsp;Danmarks
                        sportsfiskerforbunds hjemmeside.
                        <br />
                    </div>
                    <br />
                    <h2>
                        Grejforhandlere</h2>
                    <div class="bmenu">
                        <a href="www.fiskegrej-online.dk"><b>&nbsp;Fiskegrej-online</b></a>&nbsp;;&nbsp;Webshop
                        med fiskegrej
                        <br />
                        <a href="http://grejonline.dk/"><b>&nbsp;Grejonline</b></a>&nbsp;;&nbsp;Masser af
                        billigt endegrej
                        <br />
                        <a href="http://korsholm.dk/fiskeri.html"><b>&nbsp;Korsholm</b></a>&nbsp;;&nbsp;Korsholm
                        jagt og fiskeri i Skjern
                        <br />
                        <a href="http://www.grejbiksen.dk "><b>&nbsp;www.grejbiksen.dk </b></a>&nbsp;;&nbsp;Lokal
                        grejpusher
                        <br />
                    </div>
                    <br />
                    <h2>
                        Grejproducenter</h2>
                    <div class="bmenu">
                        <a href="www.flyco.dk"><b>&nbsp;The Fly Company</b></a>&nbsp;;&nbsp;Fluebindingsmaterialer
                        <br />
                    </div>
                    <br />
                    <h2>
                        Havørredfiskeri</h2>
                    <div class="bmenu">
                        <a href="http:\www.gofishsilver.dk"><b>&nbsp;www.gofishsilver.dk</b></a>&nbsp;;&nbsp;Kyst
                        og Åhavørred i østjylland
                        <br />
                        <a href="http://www.troutbum.dk "><b>&nbsp;www.troutbum.dk </b></a>&nbsp;;&nbsp;Kystfiskeri
                        på Djursland samt mange gode links!
                        <br />
                    </div>
                    <br />
                    <h2>
                        Specimenfiskeri</h2>
                    <div class="bmenu">
                        <a href="http://www.jyskspecimen.dk"><b>&nbsp;www.jyskspecimen.dk</b></a>&nbsp;;&nbsp;Fangstrapporter
                        fra alle typer fiskeri.
                        <br />
                    </div>
                    <br />
                    <h2>
                        Udland</h2>
                    <div class="bmenu">
                        <a href="http://www.fishing.net.nz "><b>&nbsp;www.fishing.net.nz </b></a>&nbsp;;&nbsp;Super
                        forum fra NZ
                        <br />
                        <a href="http://www.saltflyer.com"><b>&nbsp;www.saltflyer.com</b></a>&nbsp;;&nbsp;Bedste
                        guide på NZ
                        <br />
                    </div>
                    <br />
                    <h2>
                        Vejr og vandstand</h2>
                    <div class="bmenu">
                        <a href="http://www.dmi.dk/dmi/index/danmark/vandstand.htm"><b>&nbsp;Vandstand</b></a>&nbsp;;&nbsp;Bør
                        konsuteres inden enhver tur på kysten!
                        <br />
                        <a href="http://www.dmi.dk/dmi/index/danmark/regionaludsigten.htm "><b>&nbsp;www.dmi.dk/dmi/index/danmark/regionaludsigten.htm</b></a>&nbsp;;&nbsp;Vejrudsigt
                        <br />
                    </div>
                </div>
            </div>
            <!--/row-->
            <hr>
            <footer>
        <p>&copy; Lommeulken 2013 - Stengaard Interaction</p>
      </footer>
        </div>
        <!--/.container-->
        <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    </div>
</body>
</html>
