@{
    ViewBag.Title = "ShowFish";
}
@{
    ViewBag.Title = "About";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Twitter Bootstrap</title>
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/js/jquery-1.10.2.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="container">
        <img class="media-object img-responsive" src="/pics/banner3.jpg" />
        <br />
        <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->


  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Forside</a></li>
      <li><a href="#">Rapporter</a></li>
      <li><a href="#">Artikler</a></li>
      <li><a href="#">Konkurrencen</a></li>
      <li><a href="#">Hvem er vi</a></li>
      <li><a href="#">Klubrekorder</a></li>
      <li><a href="#">Vandpleje</a></li>
      <li>@Html.ActionLink("About", "About", "Home")</li>
      <li><a href="#">Bliv medlem</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
        <div class="container">
            <div class="row ">
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div>
                        <form class="form-signin" role="form">
                        <h4 class="form-signin-heading">
                            Log ind</h2>
                            <input type="text" class="form-control" placeholder="Email address" required autofocus>
                            <input type="password" class="form-control" placeholder="Password" required>
                            <label class="checkbox">
                                <input type="checkbox" value="remember-me">
                                Husk mig
                            </label>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">
                                Sign in</button>
                        </form>
                    </div>
                    <br />
                    <img src="/pics/ban1.jpg" class="img-responsive" data-src="holder.js/300x200" alt="...">
                    <br />
                    <br />
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10">
                    <h2>
                        Vinterkyst II
                    </h2>
                    <img src="/pics/1834.jpg" data-src="holder.js/300x200" alt="...">
                    <p>
                        Havørred Kysten på 3,5 kg. og 68 cm. fanget af Morten Svarer
                    </p>
                    <p>
                        Beretning</p>
                    <p>
                        Det er da helt vildt og voldsomt, hvad der bliver fanget af flotte blankfisk for
                        tiden! Nu vil jeg komme med mit bidrag til en sådan.</p>
                    <p>
                        Henrik og jeg ramte kysten ved 9-ish og vi fik hurtigt rigget til - jeg havde fisket
                        pladsen nogle dage forinden med Martin B, hvor der dengang var rigtig fint med fisk
                        inde, og noget længere mellem undermålerne end andre pladser. Vinden kom rigtigt
                        igen, så selvfølgelig skulle pladsen have et skud mere! Det var præcis det samme,
                        stimerne af de blanke stod på præcis de samme steder over strækket. Det var lidt
                        sjovt, at kunne sige til Henrik eftersom han gik forrest, at "nu får du nap" efter
                        man lige havde set han havde kastet over et spot. Henrik landede i første gennemgang
                        nogle pæne fisk, med den største sidste i 50'erne, den var lidt slank og fik dermed
                        friheden igen. Vi diskuterede lidt om vi skulle gå over strækket igen, måske med
                        en anden form for endeagn? Det blev ved snakken om agnskiftet og vi fortsatte med
                        gennemløberne. På vej ud til starten igen diskuterede vi om vi skulle tage de sidste
                        200 m ud til spidsen, spidsen havde ikke holdt fisk, hverken på denne eller Martin
                        og min sidste tur. Vi valgte dog at tage den med - heldigvis.. Første kast får jeg
                        en målsfisk, mens jeg får den ind tager henrik sit første kast og kroger også en
                        målsfisk, mens han er ved at få den ind, lægger jeg et nyt kast ud og SLAM! siger
                        det helt ude i kastet og en lækker blankfisk vælter nu rundt i overfladen, "den
                        er sgu god den der Morten"- råber Henrik.. Jeg giver ham ret og går i baglås.. Den
                        tager ikke rigtig udløb og laver egentlig bare en masse "dødsrul" og 3 fine spring.
                        Henrik kommer med par gode råd under fighten, nu hvor jeg ikke selv kan tænke..
                        Tak for det Henrik! Men som i kan se på billedet faldt det ud til min fordel, og
                        max to min. efter den huggede kunne jeg gribe den om halen!</p>
                    <p>
                        Vi er ikke engang nået halvvejs i januar og der er allerede meldt 6 fisk over 60
                        cm til i "havørred kyst" det er fandme da voldsomt!</p>
                    <p>
                        K&B Morten</p>
                    </p>
                </div>
            </div>
            <!--/row-->
            <hr>
            <footer>
        <p>&copy; Lommeulken 2013 - Stengaard Interaction</p>
      </footer>
        </div>
        <!--/.container-->
        <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    </div>
</body>
</html>
